Repository arcziwoda/skylock: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_cli, setup_backend, lint_cli, test_cli, lint_backend, test_backend

setup_cli:
  stage: setup
  script:
  - cd cli
  - python -m venv $CLI_VENV_DIR
  - source $CLI_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - cli/.venv
    expire_in: 1 hour

setup_backend:
  stage: setup
  script:
  - cd backend
  - python -m venv $BACKEND_VENV_DIR
  - source $BACKEND_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - backend/.venv
    expire_in: 1 hour

lint_cli:
  stage: lint
  script:
  - cd cli
  - source $CLI_VENV_DIR/bin/activate
  - poetry run pylint skylock_cli tests
  needs:
  - setup_cli

test_cli:
  stage: test
  script:
  - cd cli
  - source $CLI_VENV_DIR/bin/activate
  - poetry run pytest
  needs:
  - setup_cli

lint_backend:
  stage: lint
  script:
  - cd backend
  - source $BACKEND_VENV_DIR/bin/activate
  - poetry run pylint skylock
  needs:
  - setup_backend

test_backend:
  stage: test
  script:
  - cd backend
  - source $BACKEND_VENV_DIR/bin/activate
  - poetry run pytest
  needs:
  - setup_backend

test for creating folder with existing name
  backend/tests/integration/api/test_folder_routes.py
Due: none

test for creating subfolder in folder that doesnt exist
  backend/tests/integration/api/test_folder_routes.py
Due: none

test for creating nested folders
  backend/tests/integration/api/test_folder_routes.py
Due: none

test for post with empty path
  backend/tests/integration/api/test_folder_routes.py
Due: none

refactor with black
  cli/skylock_cli/utils/cli_exception_handler.py
Due: none

delete methods tests
  backend/tests/integration/api/test_folder_routes.py
Due: none

add user_space to .gitignore for testing purposes
  .gitignore
Due: none

Some minor path object clean-ups (unnceccesary str() mappings)
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/nav_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/core/nav.py
  cli/tests/core/test_dir_operations.py
Due: none

Prepared for the upload file command. The backend does not work yet. No tests yet
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/core/file_operations.py
Due: none

Added logic for upload and download of files. No tests yet becouse the backend does not work.
  backend/skylock/api/folder_routes.py
  cli/Makefile
  cli/pyproject.toml
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/api/nav_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/config.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/core/file_operations.py
  cli/skylock_cli/core/nav.py
  cli/skylock_cli/exceptions/api_exceptions.py
  cli/skylock_cli/scripts/setup_config.py
  cli/skylock_cli/utils/cli_exception_handler.py
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_file_operations.py
  cli/tests/scripts/test_setup_config.py
Due: setup_cli, lint_cli, test_cli

Added file uploading enpoint
  .gitignore
  backend/migrations/versions/3b8b51beb911_removed_disk_filepath_field_for_file.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/api/file_routes.py
  backend/skylock/app.py
  backend/skylock/database/models.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/storage.py
Due: setup_backend, lint_backend, test_backend

Refactor file upload logic to use a standard for FastAPI
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/core/file_operations.py
  cli/tests/core/test_file_operations.py
Due: none

Added docs for file routes, fixed docs in rest of endpoints
  backend/skylock/api/auth_routes.py
  backend/skylock/api/file_routes.py
  backend/skylock/api/folder_routes.py
Due: none

Change the undescriptive error Internal Server Error message to Error Code for easier debugging in CLI
  backend/migrations/versions/3b8b51beb911_removed_disk_filepath_field_for_file.py
  backend/skylock/api/file_routes.py
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/api/nav_requests.py
  cli/skylock_cli/exceptions/api_exceptions.py
  cli/tests/commands/test_ls.py
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_nav.py
  cli/tests/core/test_path_parser.py
Due: none

Added an endpoint for file download, refactored delete endpoint to work recursively (still needs changes because of not deleting file data from storage
  backend/README.md
  backend/skylock/api/file_routes.py
  backend/skylock/database/repository.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/storage.py
Due: setup_backend, lint_backend, test_backend

Add unit tests for the upload command in CLI
  cli/tests/commands/test_upload.py
  cli/tests/core/test_file_operations.py
Due: none

Working download but no tests yet
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/core/file_operations.py
Due: none

Mkdocs update
  cli/docs/api_endpoints.md
  cli/docs/api_exceptions.md
  cli/docs/custom_exceptions.md
  cli/mkdocs.yml
  cli/skylock_cli/exceptions/__init__.py
Due: setup_cli, lint_cli, test_cli

Added tests for the download command
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/file_operations.py
  cli/tests/commands/test_download.py
  cli/tests/core/test_file_operations.py
Due: none

Black reformat
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/nav_requests.py
  cli/skylock_cli/config.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/core/nav.py
  cli/skylock_cli/model/token.py
  cli/skylock_cli/utils/cli_exception_handler.py
Due: none

Now tests should be cross platfrom + tests for models (there were some validators that should be checked by the tests)
  cli/pyproject.toml
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/model/token.py
  cli/tests/core/test_path_parser.py
  cli/tests/model/test_context.py
  cli/tests/model/test_directory.py
  cli/tests/model/test_file.py
  cli/tests/model/test_token.py
  cli/tests/model/test_user.py
Due: setup_cli, lint_cli, test_cli

Fixed folder deletion to delete files from storage as well
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/storage.py
  backend/tests/integration/api/test_folder_routes.py
Due: none

Added more tests for resource service
  backend/tests/unit/service/test_resource_service.py
Due: none

feat: introduce a `test` target in the Makefile for running tests with pytest
  cli/Makefile
Due: setup_cli, lint_cli, test_cli

ci: add tox configuration for testing across multiple Python versions
  cli/pyproject.toml
  cli/tox.ini
Due: setup_cli, lint_cli, test_cli

docs: enhance README with usage examples and testing instructions
  cli/README.md
Due: setup_cli, lint_cli, test_cli

fix: update error messages for connection errors in CLI exception handling
  cli/skylock_cli/utils/cli_exception_handler.py
Due: none

refactor: refactor helper functions and tests to use consistent error assertions
  cli/tests/commands/test_cd.py
  cli/tests/commands/test_download.py
  cli/tests/commands/test_login.py
  cli/tests/commands/test_ls.py
  cli/tests/commands/test_mkdir.py
  cli/tests/commands/test_register.py
  cli/tests/commands/test_rmdir.py
  cli/tests/commands/test_upload.py
  cli/tests/core/test_auth.py
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_file_operations.py
  cli/tests/helpers.py
Due: none

test: reorder and enhance SkyLock API error handling test in login user tests
  cli/tests/core/test_auth.py
Due: none

refactor: enhance command argument annotations and improve help descriptions in CLI (using typing.Annotated)
  cli/skylock_cli/cli.py
Due: none

refactor: update help descriptions for user registration, login, and directory creation commands in CLI
  cli/skylock_cli/cli.py
Due: none

fastapi default value -> Annotated, tests for storage
  backend/skylock/api/auth_routes.py
  backend/skylock/api/file_routes.py
  backend/skylock/api/folder_routes.py
  backend/skylock/api/models.py
  backend/tests/unit/utils/test_storage.py
Due: none

Fixed pylint errors
  backend/skylock/api/file_routes.py
  backend/skylock/api/folder_routes.py
Due: none

Made docker containter be able to run without .env file
  backend/README.md
  backend/docker-compose.yml
  backend/migrations/env.py
  backend/skylock/config.py
Due: setup_backend, lint_backend, test_backend

Added note about optional .env file in readme
  backend/README.md
Due: setup_backend, lint_backend, test_backend

Changed storage tests to make one global patch to base folder path constant
  backend/tests/unit/utils/test_storage.py
Due: none

Changed black config to max 100 lines instead of 80
  backend/pyproject.toml
  backend/skylock/api/auth_routes.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/file_routes.py
  backend/skylock/api/folder_routes.py
  backend/skylock/app.py
  backend/skylock/database/models.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/user_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/exception_handlers.py
  backend/skylock/utils/security.py
Due: setup_backend, lint_backend, test_backend

Changes in formatting for tests
  backend/tests/integration/api/test_auth_routes.py
  backend/tests/integration/conftest.py
  backend/tests/unit/service/test_resource_service.py
  backend/tests/unit/service/test_user_service.py
  backend/tests/unit/utils/test_security.py
Due: none

Path conditions:
  setup_cli: any of: cli/**
  setup_backend: any of: backend/**
  lint_cli: any of: cli/**
  test_cli: any of: cli/**
  lint_backend: any of: backend/**
  test_backend: any of: backend/**
