Repository arcziwoda/skylock: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_cli, setup_backend

setup_cli:
  stage: setup
  script:
  - cd cli
  - python -m venv $CLI_VENV_DIR
  - source $CLI_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - cli/.venv
    expire_in: 1 hour

setup_backend:
  stage: setup
  script:
  - cd backend
  - python -m venv $BACKEND_VENV_DIR
  - source $BACKEND_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - backend/.venv
    expire_in: 1 hour

feat(api): improve folder update functionality and enhance test coverage
  backend/skylock/api/models.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/api/routes/share_routes.py
  backend/skylock/service/resource_service.py
  backend/tests/integration/api/test_folder_routes.py
Due: setup_backend

feat: add roadmap for potential application enhancements
  ROADMAP.md
Due: none

docs: update design proposal with English translations and formatting improvements
  design-proposal.md
Due: none

docs: remove installation section and update README for clarity
  cli/README.md
Due: setup_cli

fix(docs): removed done thing from roadmap
  ROADMAP.md
Due: none

docs: added info about migration from gitlab
  readme.md
Due: none

docs: info about authors
  readme.md
Due: none

Path conditions:
  setup_cli: any of: cli/**/*
  setup_backend: any of: backend/**/*
