Repository arcziwoda/skylock: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_cli, setup_backend, lint_cli, test_cli, lint_backend, test_backend

.gitlab-ci.yml:

stages:
  - setup
  - lint
  - test

defualt:
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

variables:
  CLI_VENV_DIR: "$CI_PROJECT_DIR/cli/.venv"
  BACKEND_VENV_DIR: "$CI_PROJECT_DIR/backend/.venv"

setup_cli:
  stage: setup
  image: python:3.12
  script:
    - cd cli
    - python -m venv $CLI_VENV_DIR
    - source $CLI_VENV_DIR/bin/activate
    - pip install poetry
    - poetry config virtualenvs.create false
    - poetry install
  rules:
    - changes:
        - cli/**
  artifacts:
    paths:
      - cli/.venv

setup_backend:
  stage: setup
  image: python:3.12
  script:
    - cd backend
    - python -m venv $BACKEND_VENV_DIR
    - source $BACKEND_VENV_DIR/bin/activate
    - pip install poetry
    - poetry config virtualenvs.create false
    - poetry install
  rules:
    - changes:
        - backend/**
  artifacts:
    paths:
      - backend/.venv

lint_cli:
  stage: lint
  image: python:3.12
  script:
    - cd cli
    - source $CLI_VENV_DIR/bin/activate
    - poetry run pylint cli_client tests
  needs:
    - setup_cli
  rules:
    - changes:
        - cli/**

test_cli:
  stage: test
  image: python:3.12
  script:
    - cd cli
    - source $CLI_VENV_DIR/bin/activate
    - poetry run pytest
  needs:
    - setup_cli
  rules:
    - changes:
        - cli/**

lint_backend:
  stage: lint
  image: python:3.12
  script:
    - cd backend
    - source $BACKEND_VENV_DIR/bin/activate
    - poetry run pylint zprp_file_sharing tests
  needs:
    - setup_backend
  rules:
    - changes:
        - backend/**

test_backend:
  stage: test
  image: python:3.12
  script:
    - cd backend
    - source $BACKEND_VENV_DIR/bin/activate
    - poetry run pytest
  needs:
    - setup_backend
  rules:
    - changes:
        - backend/**

Unit tests with mock and not testing db
  backend/skylock/service/user_service.py
  backend/tests/conftest.py
  backend/tests/service/test_user_service.py
  backend/tests/unit/__init__.py
  backend/tests/unit/core/__init__.py
  backend/tests/unit/service/__init__.py
  backend/tests/unit/service/test_user_service.py
Due: none

Refactor setup_config.py: Remove unused function config_file_exists()
  cli/skylock_cli/scripts/setup_config.py
Due: none

Added tests for jwt validation
  backend/tests/unit/core/test_security.py
Due: none

Added more tests for context but still without the UserDir object - problem with json serialization of PosixPath
  cli/Makefile
  cli/pyproject.toml
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/context_manager.py
  cli/skylock_cli/model/user_dir.py
  cli/tests/core/test_context_manager.py
  cli/tests/scripts/__init__.py
  cli/tests/scripts/test_setup_config.py
Due: setup_cli, lint_cli, test_cli

Added cwd to context
  cli/.pylintrc
  cli/skylock_cli/cli.py
  cli/skylock_cli/config.py
  cli/skylock_cli/core/auth.py
  cli/skylock_cli/model/context.py
  cli/skylock_cli/model/user_dir.py
  cli/skylock_cli/scripts/setup_config.py
  cli/tests/core/test_context_manager.py
  cli/tests/scripts/test_setup_config.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli

Refactor CLI tests for register and login commands
  cli/tests/test_cli.py
Due: none

Changed get_current_user to properly return User object, not only username
  backend/skylock/core/security.py
  backend/tests/unit/core/test_security.py
Due: none

Added an option to filter datetime deprecation warning in python-jose (cause we have no control over that)
  backend/pyproject.toml
Due: setup_backend, lint_backend, test_backend

Added a constructor from_entity() for User, fixed not calling create_jwt_for_user with whole User class
  backend/skylock/service/model/user.py
  backend/skylock/service/user_service.py
  backend/tests/unit/service/test_user_service.py
Due: none

Big refactor (probably shouldn't be in one commit). Changed project structure to match best practises, added Alembic for migration, added entrypoint_dev.sh
  backend/Dockerfile
  backend/README.md
  backend/alembic.ini
  backend/docker-compose.yml
  backend/entrypoint_dev.sh
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4f3fee2bf8c0_create_a_baseline_migrations.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/api/auth_routes.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/model/login_user_request.py
  backend/skylock/api/model/register_user_request.py
  backend/skylock/api/models.py
  backend/skylock/app.py
  backend/skylock/config.py
  backend/skylock/core/dependencies.py
  backend/skylock/database/__init__.py
  backend/skylock/database/models.py
  backend/skylock/database/repository.py
  backend/skylock/database/session.py
  backend/skylock/main.py
  backend/skylock/repository/config.py
  backend/skylock/repository/model/__init__.py
  backend/skylock/repository/model/user_entity.py
  backend/skylock/repository/user_repository.py
  backend/skylock/service/model/token.py
  backend/skylock/service/model/user.py
  backend/skylock/service/user_service.py
  backend/skylock/utils/__init__.py
  backend/skylock/utils/exception_handlers.py
  backend/skylock/utils/exceptions.py
  backend/skylock/utils/security.py
  backend/tests/unit/core/__init__.py
  backend/tests/unit/service/test_user_service.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_security.py
Due: setup_backend, lint_backend, test_backend

Changed exception handling, added --reload option to entrypoint script
  backend/entrypoint_dev.sh
  backend/skylock/app.py
  backend/skylock/utils/exception_handlers.py
Due: setup_backend, lint_backend, test_backend

Added integration tests for auth_routes
  backend/tests/integration/__init__.py
  backend/tests/integration/api/test_auth_routes.py
  backend/tests/integration/conftest.py
Due: none

Added info about db migration
  backend/README.md
Due: setup_backend, lint_backend, test_backend

Design proposal
  design-proposal.md
Due: none

Added back pylint (config in pyproject.yaml), added coverage for tests, fixed pylint problems, formatted design-proposal.md
  .gitlab-ci.yml
  backend/.pylintrc
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/api/auth_routes.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/models.py
  backend/skylock/app.py
  backend/skylock/config.py
  backend/skylock/database/models.py
  backend/skylock/database/repository.py
  backend/skylock/database/session.py
  backend/skylock/repository/config.py
  backend/skylock/utils/security.py
  design-proposal.md
Due: setup_backend, lint_backend, test_backend

Fixed typo
  .gitlab-ci.yml
Due: none

Added update_context method and moved pylint config file into the pyproject.toml
  cli/.pylintrc
  cli/pyproject.toml
  cli/skylock_cli/cli.py
  cli/skylock_cli/config.py
  cli/skylock_cli/core/auth.py
  cli/skylock_cli/core/context_manager.py
  cli/skylock_cli/model/context.py
  cli/skylock_cli/model/token.py
  cli/skylock_cli/model/user_dir.py
  cli/tests/core/test_context_manager.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli

First version of the mkdir. Backend does not have the actual API yet so it does not work but tests with mock api pass
  backend/migrations/README
  backend/migrations/versions/4f3fee2bf8c0_create_a_baseline_migrations.py
  cli/Makefile
  cli/skylock_cli/api/bearer_auth.py
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/api/http_exceptions.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/tests/core/test_auth.py
  cli/tests/core/test_context_manager.py
  cli/tests/core/test_dir_operations.py
  cli/tests/helpers.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli

Minor tests changes
  cli/skylock_cli/core/auth.py
  cli/tests/core/test_auth.py
  cli/tests/core/test_dir_operations.py
  cli/tests/test_cli.py
Due: none

Now using argon2 password hasher instead of bcrypt
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/service/user_service.py
  backend/skylock/utils/exceptions.py
  backend/tests/unit/service/test_user_service.py
Due: setup_backend, lint_backend, test_backend

Folder and file entities
  backend/migrations/versions/3cfde12aa1f8_files_and_folders_with_relations.py
  backend/migrations/versions/492f82801e43_potential_fix_to_folderentity.py
  backend/skylock/database/models.py
  backend/skylock/service/user_service.py
  backend/tests/unit/service/test_user_service.py
Due: none

Refactor send_mkdir_request to use path parameter in URL
  cli/skylock_cli/api/http_client.py
Due: none

Removed extra / from mkdir api request
  cli/skylock_cli/api/http_client.py
Due: none

Refactored app to use SkylockFacade
  backend/skylock/api/auth_routes.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/folder_routes.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  backend/tests/integration/api/test_auth_routes.py
Due: none

Added working (needing refactor) endpoints for folder creation and fetching
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/api/auth_routes.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/folder_routes.py
  backend/skylock/app.py
  backend/skylock/database/models.py
  backend/skylock/database/repository.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/user_service.py
  backend/skylock/utils/security.py
Due: setup_backend, lint_backend, test_backend

Fixed pylint errors
  backend/pyproject.toml
  backend/skylock/api/auth_routes.py
Due: setup_backend, lint_backend, test_backend

Fixed pylint errors2
  cli/skylock_cli/api/http_client.py
Due: none

Fixed app not using in memory db for test
  backend/tests/integration/conftest.py
Due: none

Entrypoint now created data dir
  backend/entrypoint_dev.sh
Due: setup_backend, lint_backend, test_backend

Refactor path handling and add tests for path parsing functionality
  backend/migrations/versions/3cfde12aa1f8_files_and_folders_with_relations.py
  backend/migrations/versions/492f82801e43_potential_fix_to_folderentity.py
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/core/path_parser.py
  cli/tests/core/test_path_parser.py
Due: none

Enhance error handling in API requests and update directory creation feedback
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/api/http_exceptions.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
Due: none

Naming and import clean up
  cli/skylock_cli/api/api_exceptions.py
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/core/auth.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/model/user.py
  cli/skylock_cli/utils/api_exception_handler.py
  cli/tests/core/test_auth.py
  cli/tests/core/test_dir_operations.py
  cli/tests/test_cli.py
Due: none

Started implementing rmdir and added make script to see the coverage of tests in my project
  cli/.coveragerc
  cli/Makefile
  cli/README.md
  cli/pyproject.toml
  cli/skylock_cli/api/api_exceptions.py
  cli/skylock_cli/api/dir_requests.py
Due: setup_cli, lint_cli, test_cli

Precommit and linting fixes
  cli/.coveragerc
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/utils/api_exception_handler.py
  cli/tests/core/test_auth.py
  cli/tests/core/test_dir_operations.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli

Added documentation and error handling for folder related endpoint
  backend/skylock/api/auth_routes.py
  backend/skylock/api/folder_routes.py
  backend/skylock/api/models.py
  backend/skylock/app.py
  backend/skylock/database/models.py
  backend/skylock/database/repository.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/exception_handlers.py
  backend/skylock/utils/exceptions.py
  backend/tests/unit/service/test_user_service.py
  backend/tests/unit/utils/test_security.py
Due: none
