Repository arcziwoda/skylock: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_cli, setup_backend, lint_cli, test_cli, build_cli, lint_backend, test_backend, build_backend

setup_cli:
  stage: setup
  image: python:3.12
  script:
  - cd cli
  - pip install poetry
  - poetry install
  cache:
    key: cli-poetry-cache
    paths:
    - cli/.cache/pip
    - cli/.cache/pypoetry

setup_backend:
  stage: setup
  image: python:3.12
  script:
  - cd backend
  - pip install poetry
  - poetry install
  cache:
    key: backend-poetry-cache
    paths:
    - backend/.cache/pip
    - backend/.cache/pypoetry

lint_cli:
  stage: lint
  image: python:3.12
  script:
  - cd cli
  - poetry run pylint .
  needs:
  - setup_cli

test_cli:
  stage: test
  image: python:3.12
  script:
  - cd cli
  - poetry run pytest
  needs:
  - setup_cli

build_cli:
  stage: build
  image: python:3.12
  script:
  - cd cli
  - poetry build
  needs:
  - setup_cli

lint_backend:
  stage: lint
  image: python:3.12
  script:
  - cd backend
  - poetry run pylint .
  needs:
  - setup_backend

test_backend:
  stage: test
  image: python:3.12
  script:
  - cd backend
  - poetry run pytest
  needs:
  - setup_backend

build_backend:
  stage: build
  image: python:3.12
  script:
  - cd backend
  - poetry build
  needs:
  - setup_backend

try 2 of ci
  .gitlab-ci.yml
Due: none

try 3 of ci
  .gitlab-ci.yml
Due: none

try 4 of ci
  .gitlab-ci.yml
Due: none

try 5 of ci
  .gitlab-ci.yml
Due: none

try 6 of ci
  .gitlab-ci.yml
Due: none

try 7 of ci
  backend/.pylintrc
  cli/.pylintrc
Due: lint_cli, test_cli, build_cli, lint_backend, test_backend, build_backend

docstrings on main
  backend/zprp_file_sharing/main.py
Due: none

added poetry.lock
  backend/poetry.lock
Due: setup_backend, lint_backend, test_backend, build_backend

Added sample test
  backend/tests/test_main.py
Due: none

Updated tools in CLI
  LICENSE
  cli/.pylintrc
  cli/README.md
  cli/docs/commands.md
  cli/docs/index.md
  cli/mkdocs.yml
  cli/pyproject.toml
  cli/skylock_cli/__init__.py
  cli/skylock_cli/app.py
  cli/tests/test_app.py
Due: setup_cli, lint_cli, test_cli, build_cli

Update CLI README.md with placeholder for future instructions
  cli/README.md
Due: lint_cli, test_cli, build_cli

Update pylint command to use 'skylock_cli' instead of 'cli_client'
  .gitlab-ci.yml
Due: none

Added full flow for authentication routes, tests in developement :-)
  .gitignore
  backend/poetry.lock
  backend/pyproject.toml
  backend/zprp_file_sharing/api/__init__.py
  backend/zprp_file_sharing/api/auth_routes.py
  backend/zprp_file_sharing/api/model/__init__.py
  backend/zprp_file_sharing/api/model/login_user_request.py
  backend/zprp_file_sharing/api/model/register_user_request.py
  backend/zprp_file_sharing/api/model/token_response.py
  backend/zprp_file_sharing/core/__init__.py
  backend/zprp_file_sharing/core/security.py
  backend/zprp_file_sharing/dependencies.py
  backend/zprp_file_sharing/exceptions.py
  backend/zprp_file_sharing/main.py
  backend/zprp_file_sharing/repository/__init__.py
  backend/zprp_file_sharing/repository/config/__init__.py
  backend/zprp_file_sharing/repository/config/db_config.py
  backend/zprp_file_sharing/repository/model/__init__.py
  backend/zprp_file_sharing/repository/model/user_entity.py
  backend/zprp_file_sharing/repository/user_repository.py
  backend/zprp_file_sharing/service/__init__.py
  backend/zprp_file_sharing/service/user_service.py
Due: setup_backend, lint_backend, test_backend, build_backend

fixed gitignore to ignore db file
  .gitignore
Due: none

Changed pylint config to ignore docstrings missing (temporary)
  backend/.pylintrc
Due: lint_backend, test_backend, build_backend

Changed ci to run only on merge requests
  .gitlab-ci.yml
Due: none

fix to ci
  .gitlab-ci.yml
Due: none

disabled pylint for now
  .gitlab-ci.yml
  backend/zprp_file_sharing/api/auth_routes.py
  backend/zprp_file_sharing/main.py
Due: none

Added Dockerfile and docker compose file
  .gitignore
  backend/Dockerfile
  backend/docker-compose.yml
  backend/zprp_file_sharing/main.py
  backend/zprp_file_sharing/repository/config/db_config.py
Due: lint_backend, test_backend, build_backend

Added Swagger UI documentation, README.md file
  backend/README.md
  backend/zprp_file_sharing/api/auth_routes.py
  backend/zprp_file_sharing/core/dependencies.py
  backend/zprp_file_sharing/core/exceptions.py
  backend/zprp_file_sharing/service/user_service.py
Due: lint_backend, test_backend, build_backend

Small fix to urls
  backend/README.md
Due: lint_backend, test_backend, build_backend

Added simple register command that uses API
  backend/Dockerfile
  cli/.pylintrc
  cli/docs/cli.md
  cli/docs/commands.md
  cli/mkdocs.yml
  cli/pyproject.toml
  cli/skylock_cli/api/__init__.py
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/commands/auth.py
  cli/skylock_cli/commands/auth/register.py
  cli/skylock_cli/commands/directory_operations.py
  cli/skylock_cli/commands/file_operations.py
  cli/skylock_cli/commands/navigation.py
  cli/skylock_cli/config.py
  cli/skylock_cli/model/__init__.py
  cli/skylock_cli/model/directory.py
  cli/skylock_cli/model/file.py
  cli/skylock_cli/model/user.py
  cli/skylock_cli/utils/__init__.py
  cli/skylock_cli/utils/http_exceptions.py
  cli/tests/test_app.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli, build_cli, lint_backend, test_backend, build_backend

Very simple commit to reabse with master
  cli/skylock_cli/app.py
  cli/skylock_cli/commands/__init__.py
  cli/skylock_cli/commands/auth/__init__.py
  cli/skylock_cli/commands/auth/register.py
  cli/tests/test_app.py
Due: none

refactored http client and user class, added token class, implemented login logic
  cli/pyproject.toml
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/commands/auth.py
  cli/skylock_cli/config.py
  cli/skylock_cli/model/token.py
  cli/skylock_cli/model/user.py
  cli/tests/test_cli.py
Due: setup_cli, lint_cli, test_cli, build_cli

update of README files
  backend/README.md
  cli/README.md
  readme.md
Due: lint_cli, test_cli, build_cli, lint_backend, test_backend, build_backend

changed package name to skylock, refactored register_user function
  backend/Dockerfile
  backend/docker-compose.yml
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/__init__.py
  backend/skylock/api/__init__.py
  backend/skylock/api/auth_routes.py
  backend/skylock/api/model/__init__.py
  backend/skylock/api/model/login_user_request.py
  backend/skylock/api/model/register_user_request.py
  backend/skylock/core/__init__.py
  backend/skylock/core/dependencies.py
  backend/skylock/core/env.py
  backend/skylock/core/exceptions.py
  backend/skylock/core/security.py
  backend/skylock/main.py
  backend/skylock/repository/__init__.py
  backend/skylock/repository/config.py
  backend/skylock/repository/model/__init__.py
  backend/skylock/repository/model/user_entity.py
  backend/skylock/repository/user_repository.py
  backend/skylock/service/__init__.py
  backend/skylock/service/model/token.py
  backend/skylock/service/model/user.py
  backend/skylock/service/user_service.py
  backend/zprp_file_sharing/main.py
  backend/zprp_file_sharing/repository/model/__init__.py
  backend/zprp_file_sharing/repository/model/user_entity.py
Due: setup_backend, lint_backend, test_backend, build_backend

Refactored get_current_user to return User class instance
  backend/skylock/core/security.py
  backend/skylock/service/user_service.py
Due: none

Better error handling for register / login
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/api/http_exception_handler.py
  cli/skylock_cli/api/http_exceptions.py
  cli/skylock_cli/commands/auth.py
  cli/skylock_cli/commands/directory_operations.py
  cli/skylock_cli/commands/file_operations.py
  cli/skylock_cli/commands/navigation.py
  cli/skylock_cli/config.py
  cli/skylock_cli/model/directory.py
  cli/skylock_cli/model/file.py
  cli/skylock_cli/utils/cli_exception_handler.py
  cli/skylock_cli/utils/http_exceptions.py
  cli/tests/test_cli.py
  readme.md
Due: none

Refactor http_exceptions module and add module docstring
  cli/skylock_cli/api/http_exceptions.py
Due: none

Pre-commit run
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/api/http_exception_handler.py
  cli/tests/test_cli.py
Due: none

Added user service tests and fixed circular import
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/core/exceptions.py
  backend/skylock/core/security.py
  backend/skylock/repository/config.py
  backend/skylock/repository/user_repository.py
  backend/skylock/service/user_service.py
  backend/tests/conftest.py
  backend/tests/service/__init__.py
  backend/tests/service/test_user_service.py
  backend/tests/test_main.py
Due: setup_backend, lint_backend, test_backend, build_backend

Changed jwt_secret to have some default value for tests purpose
  backend/skylock/core/env.py
Due: none

Refactored login + register + many tests
  cli/skylock_cli/api/http_client.py
  cli/skylock_cli/api/http_exception_handler.py
  cli/skylock_cli/api/http_exceptions.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/commands/auth.py
  cli/skylock_cli/core/__init__.py
  cli/skylock_cli/core/auth.py
  cli/skylock_cli/model/user.py
  cli/skylock_cli/utils/api_exception_handler.py
  cli/skylock_cli/utils/cli_exception_handler.py
  cli/tests/core/__init__.py
  cli/tests/core/test_auth.py
  cli/tests/test_cli.py
Due: none

Refactor CLI documentation structure
  cli/docs/api_endpoints.md
  cli/docs/api_exceptions.md
  cli/docs/cli.md
  cli/mkdocs.yml
Due: lint_cli, test_cli, build_cli

Path conditions:
  setup_cli: any of: cli/pyproject.toml, cli/poetry.lock
  setup_backend: any of: backend/pyproject.toml, backend/poetry.lock
  lint_cli: any of: cli/**
  test_cli: any of: cli/**
  build_cli: any of: cli/**
  lint_backend: any of: backend/**
  test_backend: any of: backend/**
  build_backend: any of: backend/**
