Repository arcziwoda/skylock: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_cli, setup_backend

setup_cli:
  stage: setup
  script:
  - cd cli
  - python -m venv $CLI_VENV_DIR
  - source $CLI_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - cli/.venv
    expire_in: 1 hour

setup_backend:
  stage: setup
  script:
  - cd backend
  - python -m venv $BACKEND_VENV_DIR
  - source $BACKEND_VENV_DIR/bin/activate
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install
  artifacts:
    paths:
    - backend/.venv
    expire_in: 1 hour

feat(url-manager): implement URL management functions and add InvalidURLError exception
  cli/skylock_cli/core/url_manager.py
  cli/skylock_cli/exceptions/api_exceptions.py
  cli/skylock_cli/model/context.py
Due: setup_cli

test(cli): add unit tests for set-url command and URLManager functionality
  cli/tests/commands/test_set_url.py
  cli/tests/core/test_context_manager.py
  cli/tests/core/test_url_manager.py
  cli/tests/helpers.py
  cli/tests/model/test_context.py
Due: setup_cli

refactor(tests): update send request patches to use file_requests/dir_requests module
  cli/tests/commands/test_download.py
  cli/tests/commands/test_make_private.py
  cli/tests/commands/test_make_public.py
  cli/tests/commands/test_mkdir.py
  cli/tests/commands/test_rm.py
  cli/tests/commands/test_rmdir.py
  cli/tests/commands/test_upload.py
  cli/tests/core/test_file_operations.py
Due: setup_cli

feat(share): implement share functionality for directories and files with error handling
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/skylock_cli/exceptions/api_exceptions.py
  cli/skylock_cli/model/share_link.py
Due: setup_cli

feat(share): add share functionality for files with error handling
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/core/file_operations.py
Due: setup_cli

test(share): add unit tests for share_file function and update mock_test_context
  cli/tests/commands/test_share.py
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_file_operations.py
  cli/tests/helpers.py
  cli/tests/model/test_share_link.py
Due: setup_cli

feat(api): implement centralized error handling for API requests (standard errors only)
  cli/skylock_cli/api/auth_requests.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/file_requests.py
  cli/skylock_cli/api/nav_requests.py
  cli/skylock_cli/utils/cli_exception_handler.py
Due: setup_cli

test(nav): add unauthorized access tests for list and change directory functions test(dir): add tests for sharing directories with invalid response formats
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_file_operations.py
  cli/tests/core/test_nav.py
Due: setup_cli

refactor(api): simplify response validation in share request functions
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/file_requests.py
Due: setup_cli

fix(url_manager): update set_url function and remove | from function definition -> unsupported in python 3.9 and tox failed
  cli/skylock_cli/core/url_manager.py
Due: setup_cli

feat(backend): refactor routes, improve public resource handling, url generation, simple index page
  backend/docker-compose.prod.yml
  backend/poetry.lock
  backend/pyproject.toml
  backend/skylock/api/dependencies.py
  backend/skylock/api/models.py
  backend/skylock/api/routes/auth_routes.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/api/routes/public_routes.py
  backend/skylock/api/routes/share_routes.py
  backend/skylock/api/shared_routes.py
  backend/skylock/app.py
  backend/skylock/pages/page_router.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/url_generator.py
  backend/templates/index.html
Due: setup_backend

feat(backend): introduce 'PathResolver' to improve path resolution in 'ResourceService'
  backend/skylock/api/dependencies.py
  backend/skylock/service/path_resolver.py
  backend/skylock/service/resource_service.py
  backend/tests/integration/conftest.py
  backend/tests/unit/service/test_resource_service.py
Due: setup_backend

feat: add ResponseBuilder class and refactor dependencies
  backend/skylock/api/dependencies.py
  backend/skylock/service/path_resolver.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/response_builder.py
  backend/skylock/skylock_facade.py
  backend/tests/integration/conftest.py
  backend/tests/unit/service/test_resource_service.py
Due: setup_backend

fix: update share request URLs for consistency
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/api/file_requests.py
Due: setup_cli

fix: python version
  cli/pyproject.toml
Due: setup_cli

feat(auth): update login_user to preserve existing context attributes during login
  cli/skylock_cli/core/auth.py
Due: setup_cli

feat(cli): add get_url command to retrieve SkyLock server URL
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/url_manager.py
Due: setup_cli

test: enhance login command tests to include base URL in context
  cli/tests/commands/test_login.py
  cli/tests/core/test_file_operations.py
Due: setup_cli

chore(deps): update python version constraint to allow newer versions
  cli/pyproject.toml
Due: setup_cli

feat: add root folder deletion restriction and public access checks
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
Due: setup_backend

feat: html folder page, update routes and dependencies for modular structure
  backend/README.md
  backend/skylock/api/app.py
  backend/skylock/api/dependencies.py
  backend/skylock/api/models.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/app.py
  backend/skylock/pages/dependencies.py
  backend/skylock/pages/html_builder.py
  backend/skylock/pages/page_router.py
  backend/skylock/service/path_resolver.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/response_builder.py
  backend/templates/403.html
  backend/templates/404.html
  backend/templates/folder_contents.html
  backend/tests/integration/conftest.py
Due: setup_backend

feat: add HTML page for file display with download link
  backend/skylock/api/models.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/api/routes/public_routes.py
  backend/skylock/pages/html_builder.py
  backend/skylock/pages/page_router.py
  backend/skylock/service/path_resolver.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/response_builder.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/path.py
  backend/skylock/utils/storage.py
  backend/skylock/utils/url_generator.py
  backend/templates/file.html
  backend/tests/integration/api/test_file_routes.py
  backend/tests/unit/utils/test_storage.py
Due: setup_backend

feat: add public folder creation support in create_folder routes and service
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
Due: setup_backend

feat: enhance set-url command to include current working directory in output
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/url_manager.py
  cli/tests/commands/test_set_url.py
Due: setup_cli

feat: html folder page now displays only public resources
  backend/skylock/pages/html_builder.py
Due: setup_backend

recursive folder visability change
  backend/skylock/api/models.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
  cli/skylock_cli/api/dir_requests.py
  cli/skylock_cli/cli.py
  cli/skylock_cli/core/dir_operations.py
  cli/test.txt
Due: setup_cli, setup_backend

tests for path resolver
  backend/tests/unit/service/conftest.py
  backend/tests/unit/service/test_path_resolver.py
  backend/tests/unit/service/test_resource_service.py
Due: setup_backend

style: enhance error and file templates with improved layout and styling
  backend/templates/403.html
  backend/templates/404.html
  backend/templates/file.html
  backend/templates/folder_contents.html
Due: setup_backend

refactor: remove obsolete test file and update share directory/file tests to include context manager
  cli/test.txt
  cli/tests/core/test_dir_operations.py
  cli/tests/core/test_file_operations.py
Due: setup_cli

refactor: simplify function signatures for make_directory_public and make_directory_private -> reasons
  cli/skylock_cli/core/dir_operations.py
Due: setup_cli

docs: enhance SkyLock CLI documentation with additional sections and improved descriptions
  cli/docs/api_endpoints.md
  cli/docs/cli.md
  cli/docs/custom_exceptions.md
  cli/docs/index.md
Due: setup_cli

refactor: remove unused imports from resource_service.py
  backend/skylock/service/resource_service.py
Due: setup_backend

fix: fix bug with updateing file visibility, rename visibility update methods and requests for clarity
  backend/skylock/api/models.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/service/resource_service.py
  backend/skylock/skylock_facade.py
Due: setup_backend

refactor: now user does not have to be logged in to change url
  cli/skylock_cli/cli.py
  cli/tests/commands/test_set_url.py
Due: setup_cli

fix: fixed changing folder visibility recursively
  backend/skylock/service/resource_service.py
Due: setup_backend

refactor: refactored storage to be a service, added 'ZipService'
  backend/skylock/api/dependencies.py
  backend/skylock/api/models.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/api/routes/public_routes.py
  backend/skylock/service/resource_service.py
  backend/skylock/service/response_builder.py
  backend/skylock/service/zip_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/storage.py
  backend/tests/integration/api/test_file_routes.py
  backend/tests/integration/api/test_folder_routes.py
  backend/tests/integration/conftest.py
  backend/tests/unit/service/conftest.py
  backend/tests/unit/service/test_resource_service.py
  backend/tests/unit/utils/test_storage.py
Due: setup_backend

refactor(api)restructure routes layout and adjust endpoint paths
  backend/skylock/api/app.py
  backend/skylock/api/models.py
  backend/skylock/api/routes/download_routes.py
  backend/skylock/api/routes/file_routes.py
  backend/skylock/api/routes/folder_routes.py
  backend/skylock/api/routes/upload_routes.py
  backend/skylock/service/response_builder.py
  backend/skylock/service/zip_service.py
  backend/skylock/skylock_facade.py
  backend/skylock/utils/storage.py
  backend/tests/integration/api/test_file_routes.py
  cli/skylock_cli/api/file_requests.py
Due: setup_cli, setup_backend

feat(folders): Empty folders are now added to zip
  backend/skylock/service/zip_service.py
Due: setup_backend

test: tests for url generator
  backend/tests/unit/service/test_url_generator.py
Due: setup_backend

fix: creating folder with parent works properly
  backend/skylock/service/resource_service.py
  backend/tests/integration/api/test_folder_routes.py
Due: setup_backend

Path conditions:
  setup_cli: any of: cli/**/*
  setup_backend: any of: backend/**/*
